<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--<link th:href="@{}" rel="stylesheet">-->
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous"
        >
        <link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0"
        />
        <style type="text/css">
        </style>
    </head>
    <body style="position: relative;padding: 0;">
        <header></header>
        <main>
            <section style="margin-top: 2rem;">
                <div class="d-flex align-items-center">
                    <div class="col-4 d-flex justify-content-center">
                        <article style="border-radius: 20px;">
                            <img src="/imgs/brand-logo.png" width="400px" style="border-radius: 10% / 50%;">
                        </article>
                    </div>
                    <div
                            class="col-7 d-flex justify-content-between align-items-center border"
                            style="background-color: rgb(188, 32, 48, 0.85);margin-left: 3rem;height: 4rem;margin-bottom: 2rem;"
                    >
                        <article>
                            <a id="create-staff-link" href="#create-staff-form" style="font-size: 16px;color: rgb(223, 220, 219);">Create Staff</a>
                        </article>
                        <article>
                            <a style="font-size: 16px;color: rgb(223, 220, 219);">Products</a>
                            <ul style="display: none;">
                                <li>
                                    <a>Add product</a>
                                </li>
                                <li>
                                    <a>View products</a>
                                </li>
                            </ul>
                        </article>
                        <article>
                            <a style="font-size: 16px;color: rgb(223, 220, 219);">Clients</a>
                            <ul style="display: none;">
                                <!-- load a list of products and place in tags -->
                                <li>
                                    <a>Product X</a>
                                </li>
                                <li>
                                    <a>Product Y</a>
                                </li>
                            </ul>
                        </article>
                    </div>
                </div>
            </section>
            <section style="margin-top: 4rem;">
                <div>
                    <div style="position: relative;" class="col-10 mx-auto d-flex justify-content-center flex-column">
                        <h4 class="text-center col-5 mx-auto" style="margin-bottom: 4rem;">Available Products</h4>
                        <span style="position: absolute;top: 20%;right: 15%;">
                            <a
                                    id="create-product-link"
                                    href="#create-product-form"
                                    class="btn"
                                    style="background-color: rgba(68, 40, 12, 0.95);color: rgba(255, 255, 255, 0.6);font-size: 15px;"
                            >
                                New Product
                            </a>
                        </span>
                        <div class="d-flex flex-column justify-content-center mx-auto">
                            <table
                                    id="products-table"
                                    class="table"
                                    style="width: 800px;border: 1px solid rgba(68, 40, 12, 0.8);border-radius: 6px 6px 0px 0px;"
                            >
                                <thead>
                                    <tr style="background-color: rgb(78, 76, 74);color: rgb(223, 220, 219);border-radius: 6px 6px 0px 0px;">
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Value</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Clients</th>
                                    </tr>
                                </thead>
                                <!-- iteratively create table rows for each product in list from backend -->
                                <tbody class="table-group-divider">
                                    <tr>
                                        <td>1</td>
                                        <td>Property Name</td>
                                        <td>2M</td>
                                        <td>
                                            <span
                                                    class="d-flex justify-content-center align-items-center"
                                                    style="background-color: rgba(68, 40, 12, 0.4);width: 28px;height: 28px; border-radius: 14px;"
                                            >
                                                <a class="material-symbols-rounded">edit</a>
                                            </span>
                                        </td>
                                        <th>12</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <section style="margin-top: 5rem; margin-bottom: 5rem;">
                <div>
                    <div class="col-10 d-flex flex-column justify-content-center mx-auto" style="position: relative;">
                        <!-- product name from backend -->
                        <h4 id="product-name" class="text-center" style="margin-bottom: 4rem;">Product Name</h4>
                        <div class="col-3 d-flex justify-content-between" style="position: absolute;top: 20%;right: 15%;">
                            <span  style="color: rgb(223, 220, 219);">
                                <a id="bulk-mail-link" href="#bulk-mail-form" class="d-block btn" style="background-color: rgba(16, 12, 12, 0.45);font-size: 15px;">Bulk Mail</a>
                            </span>
                            <span class="d-block" style="color: rgb(223, 220, 219);">
                                <a id="bulk-sms-link" href="#bulk-sms-form" class="btn"  style="background-color: rgba(16, 12, 12, 0.45);font-size: 15px;">Bulk SMS</a>
                            </span>
                        </div>
                        <div style="position: absolute;top: 20%;left: 15%;">
                            <span>
                                <a id="create-client-link" href="#create-client-form" class="material-symbols-rounded" style="font-size: 40px;color: rgb(78, 76, 74);">person_add</a>
                            </span>
                        </div>
                        <div class="d-flex justify-content-center flex-column mx-auto">
                            <table class="table" id="clients-table" style= "width: 800px;border: 1px solid rgba(78, 76, 74, 0.8);">
                                <thead>
                                    <tr style="background-color: rgba(68, 40, 12, 0.95);color: rgba(255, 255, 255, 0.6);">
                                        <th scope="col">Client Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Remove Client</th>
                                    </tr>
                                </thead>
                                <!-- iteratively create table rows for each client in list -->
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Client Name</td>
                                        <td>clientname@gmail.com</td>
                                        <td>0798765432</td>
                                        <td>
                                            <span
                                                    class="d-flex justify-content-center align-items-center"
                                                    style="background-color: rgba(78, 76, 74, 0.4);width: 28px;height: 28px; border-radius: 14px;"
                                            >
                                                <a class="material-symbols-rounded">edit</a>
                                            </span>
                                        </td>
                                        <td class="d-flex justify-content-center align-items-center">
                                            <span
                                                    class="d-flex justify-content-center align-items-center"
                                                    style="background-color: rgba(188, 32, 48, 0.4);width: 28px;height: 28px; border-radius: 14px;"
                                            >
                                                <a
                                                        class="material-symbols-rounded"
                                                        style="color: rgb(188, 32, 48);"
                                                >
                                                    delete
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <a
                                        class="btn btn-outline-danger"
                                >
                                    Delete Product
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="col-8 mx-auto">
                    <!-- create staff form -->
                    <div id="create-staff-form" class="d-none col-8 mx-auto" style="background-color: rgba(16, 12, 12, 0.45);height: 45vh;padding: 1rem;border-radius: 5px;">
                        <h4 style="font-size: 20px;color: rgb(68, 40, 12);">Register New Staff Member</h4>
                        <form>
                            <span class="d-block d-flex justify-content-center" style="margin-top: 2rem;margin-bottom: 1rem;color: rgb(68, 40, 12);">
                                <label class="col-3 text-start">Enter Name</label>
                                <input id="staff-name" placeholder="staff name" type="text" style="text-align: center;"/>
                            </span>
                            <span class="d-block d-flex justify-content-center" style="margin-top: 1rem;margin-bottom: 1rem;color: rgb(68, 40, 12);">
                                <label class="col-3 text-start">Enter Email</label>
                                <input id="staff-email" placeholder="name@example.com" type="text" style="text-align: center;"/>
                            </span>
                            <span class="d-block d-flex justify-content-center" style="margin-top: 1rem;margin-bottom: 1rem;color: rgb(68, 40, 12);">
                                <label class="col-3 text-start" style="transform: translateX(-25%);">Select Role</label>
                                <select class="col-3" id="staff-role" style="transform: translateX(-25%);text-align: center;color: rgb(68, 40, 12);" >
                                    <option value="Admin">Admin</option>
                                    <option value="Staff">Staff</option>
                                </select>
                            </span>
                            <div class="col-11 d-flex justify-content-between mx-auto" style="padding: 0.5rem;">
                                <input type="submit" value="Register" style="padding: 0.5rem;color: rgb(68, 40, 12);"/>
                                <span id="cancel-staff" class="btn d-block" style="width: 80px;background-color: rgba(188, 32, 48, 0.9);color: rgb(223, 220, 219);">Close</span>
                            </div>
                        </form>
                    </div>
                    <!-- create product form -->
                    <div id="create-product-form" class="d-none col-8 mx-auto" style="background-color: rgba(16, 12, 12, 0.45);height: 45vh;padding: 1rem;border-radius: 5px;">
                        <h4 style="font-size: 20px;color: rgb(68, 40, 12);">Create New Product</h4>
                        <form>
                            <span class="d-block d-flex justify-content-center" style="margin-top: 2rem;margin-bottom: 1rem;color: rgb(68, 40, 12);">
                                <label class="col-3 text-start">Product Name</label>
                                <input id="new-product-name" type="text" style="text-align: center;"/>
                            </span>
                            <span class="d-block d-flex justify-content-center" style="margin-top: 1rem;margin-bottom: 1rem;color: rgb(68, 40, 12);">
                                <label class="col-3 text-start">Product Value</label>
                                <input id="new-product-value" type="text" style="text-align: center;"/>
                            </span>
                            <div class="col-11 d-flex justify-content-between mx-auto" style="padding: 0.5rem;">
                                <input type="submit" value="Save Product" style="padding: 0.5rem;color: rgb(68, 40, 12);"/>
                                <span id="cancel-product" class="btn d-block" style="width: 80px;background-color: rgba(188, 32, 48, 0.9);color: rgb(223, 220, 219);">Close</span>
                            </div>
                        </form>
                    </div>
                    <!-- create client form -->
                    <div id="create-client-form" class="d-none col-8 mx-auto" style="background-color: rgba(16, 12, 12, 0.45);height: 45vh;padding: 1rem;border-radius: 5px;">
                        <h4 style="font-size: 20px;">Register  New Client</h4>
                        <form>
                            <span class="d-block d-flex justify-content-center" style="margin-top: 2rem;margin-bottom: 1rem;color: rgb(68, 40, 12);">
                                <label class="col-3 text-start">Enter Name</label>
                                <input id="client-name" type="text" placeholder="client name" style="text-align: center;"/>
                            </span>
                            <span class="d-block d-flex justify-content-center" style="margin-top: 1rem;margin-bottom: 1rem;color: rgb(68, 40, 12);">
                                <label class="col-3 text-start">Enter Email</label>
                                <input id="client-email" type="email" style="text-align: center;"/>
                            </span>
                            <span class="d-block d-flex justify-content-center" style="margin-top: 1rem;margin-bottom: 1rem;color: rgb(68, 40, 12);">
                                <label class="col-3 text-start">Enter Phone</label>
                                <input id="client-phone" type="tel" style="text-align: center;"/>
                            </span>
                            <div class="col-11 d-flex justify-content-between mx-auto" style="padding: 0.5rem;">
                                <input type="submit" value="Register" style="padding: 0.5rem;color: rgb(68, 40, 12);"/>
                                <span id="cancel-client" class="btn d-block" style="width: 80px;background-color: rgba(188, 32, 48, 0.9);color: rgb(223, 220, 219);">Close</span>
                            </div>
                        </form>
                    </div>
                    <!--bulk mail-->
                    <div
                            id="bulk-mail-form"
                            class="d-none col-8 mx-auto flex-column align-items-center"
                            style="background-color: rgba(16, 12, 12, 0.45);height: 40vh;padding-top: 1rem;border-radius: 5px;">
                        <h4 class="text-start" style="width: 250px;font-size: 20px;">Mail All clients</h4>
                        <div class="" style="margin-top: 0.5rem;height: 60%;">
                            <textarea autofocus placeholder="Enter message here" style="width: 300px;height: 100%;resize: none;"></textarea>
                        </div>
                        <div class="col-11 d-flex justify-content-between mx-auto" style="margin-top: 0.5rem;">
                            <input type="submit" value="Send" style="width: 80px;margin: 0.5rem;">
                            <span id="cancel-mail" class="btn d-block" style="width: 80px;background-color: rgba(188, 32, 48, 0.9);color: rgb(223, 220, 219);">close</span>
                        </div>
                    </div>
                    <!--bulk sms-->
                    <div
                            id="bulk-sms-form"
                            class="d-none col-8 mx-auto flex-column align-items-center"
                            style="background-color: rgba(16, 12, 12, 0.45);height: 40vh;padding-top: 1rem;border-radius: 5px;">
                        <h4 class="text-start" style="width: 250px;font-size: 20px;">SMS All clients</h4>
                        <div class="" style="margin-top: 0.5rem;height: 60%;">
                            <textarea autofocus placeholder="Enter message here" style="width: 300px;height: 100%;resize: none;"></textarea>
                        </div>
                        <div class="col-11 d-flex justify-content-between mx-auto" style="margin-top: 0.5rem;">
                            <input type="submit" value="Send" style="width: 80px;margin: 0.5rem;">
                            <span id="cancel-sms" class="btn d-block" style="width: 80px;background-color: rgba(188, 32, 48, 0.9);color: rgb(223, 220, 219);">Close</span>
                        </div>
                    </div>
                </div>
            </section>
            <script src="/js/adminHome.js"></script>
        </main>
        <footer>
            <div
                    class="d-flex justify-content-start"
                    style="position: absolute;top: 100%;height: 8rem;width: 100%;margin: 0;background-color: rgba(188, 32, 48, 0.8);margin-top: 4rem;"
            >
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex col-12" style="margin-top: 10%;margin-left: 40%;">
                        <span style="margin-right: 1rem;">
                            <img src="/imgs/logo-icon.png" width="80px" height="80px" style="border-radius: 50%;"/>
                        </span>
                        <span style="font-size: 20px;color: rgba(223, 220, 219, 0.8);">
                            Meladen<br><span style="font-size: 16px;">Properties</span>
                            <p style="font-size: 12px;font-style: italic;">Client service with compassion</p>
                        </span>
                    </div>
                </div>
                <div  style="margin-left: 20%;">
                    <div
                            class="col-12 d-flex flex-column justify-content-between"
                            style="font-size: 16px;margin-top: 20%;color: rgba(223, 220, 219, 0.8);"
                    >
                        <span>
                            <a>About Us</a>
                        </span>
                        <span>
                            <a>Contact Admin</a>
                        </span>
                        <span>
                            &copy;Meladen Properties 2023
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
